<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PUBG Mobile Terminator Weekly Challenge</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

</head>

<body>
    <!-- ===========
        Navbar
    ================ -->
    <div class="navbar-responsive">
        <span class="menuicon" id="toggle"></span>

        <nav class="full-nav" id="nav">
            <div class="nav">
                <a href="/">Home</a>
                <a href="/registration">Pendaftaran</a>
                <a href="#">Tentang</a>
                <a href="#">Lapor</a>
            </div>
        </nav>
    </div>

    <!-- ================
        Banner
    ==================== -->
    <div class="big-wraper">
    <div class="main-content-wraper">
        <header id="atas">
            <div class="header-1">
                <div class="header-1-1">
                    <div class="logo-wraper">
                        <img src="./img/logo.png" class="navbar-logo" alt="">
                    </div>
                    <div class="title-wraper">
                        <h1>PUBG Mobile : Terminator Weekly Challenge</h1>
                    </div>
                </div>
                <div class="header-1-2">
                    <div class="header-1-2-1">
                        <p>Pendaftaran Buka</p>
                        <span>00 - 00 Jun 2020</span>
                    </div>
                    <div class="header-1-2-1">
                        <p>Turnamen Mulai</p>
                        <span>00 Jun 2020</span>
                    </div>
                </div>
            </div>            
            <div class="header-2">
                <div class="param-wraper">
                    <div class="param-wraper-detail">
                        <h5>Pendaftar</h5>
                        <span id="registered-team"><%= jumlahParticipant %>/64</span>
                    </div>
                    <div class="param-wraper-detail">
                        <h5>Biaya Pendaftaran</h5>
                        <span>Rp. 100,000</span>
                    </div>
                    <div class="param-wraper-detail">
                        <h5>Mode</h5>
                        <span>Squad TPP</span>
                    </div>
                    <div class="param-wraper-detail">
                        <h5>Format Turnamen</h5>
                        <span>Eliminasi Grup</span>
                    </div>
                </div>
                <div class="btn-wraper">
                    <%if(jumlahParticipant == batasPeserta){%>
                    <a class="btn-disabled" type="button" disabled>Pendaftaran Tutup</a>
                    <%}else{%>
                    <a href="./registration" class="btn-registered">Daftar</a>
                    <%}%>
                </div>
            </div>
        </header>

    <!--================== 
        Tournament Format and Prize Pool
        ==================
    -->
    <div class=" tourneyInfoPrize">
        <div class="specialFont-wraper" style="margin-bottom: -1em;">
            <h4 class="specialFont">Hadiah</h4>
        </div>
        <p><span>PENTING</span> : Hadiah akhir akan disesuaikan berdasarkan jumlah total tim yang mendaftar</p>
        <div class="prize">
            <div class="prize-details">
                <h6>1st</h6>
                <span>Rp. 1,800,000</span>
            </div>
            <div class="prize-details2">
                <h6>2nd</h6>
                <span>Rp. 900,000</span>
            </div>
            <div class="prize-details3">
                <h6>3rd</h6>
                <span>Rp. 500,000</span>
            </div>
        </div>
    </div>
    <!-- ==============
        Match Map
    ===================  -->
    <div class=jadwal-wraper>
        <div class="specialFont-wraper" style="margin-bottom: -1em;">
            <h4 class="specialFont">Jadwal</h4>
        </div>
        <div class="button-wraper">
            <button class="qualifier" data-tab-target="#qualifier">Babak Grup</button>
            <button class="qualifier qualifier-active" data-tab-target="#grandfinal">Grand Final</button>
        </div>
        <div id="map-container">
            <div id="qualifier" data-tab-content class="qualifier-wraper">
                <div class="wrap">
                    <div class="jadwal-kiri">
                        <h3>00 Jun</h3>
                        <h4 class="groups">Grup A</h4>
                        <ul>
                            <li>Match 1 : <span class="groups">18.00</span></li>
                            <li>Match 2 : <span class="groups">18.45</span></li>
                            <li>Match 3 : <span class="groups">19.30</span></li>
                        </ul>
                        <h4 class="groups">Grup B</h4>
                        <ul>
                            <li>Match 1 : <span class="groups">20.15</span></li>
                            <li>Match 2 : <span class="groups">21.00</span></li>
                            <li>Match 3 : <span class="groups">21.45</span></li>
                        </ul>
                    </div>
                    <div class="jadwal-kanan">
                        <h3>00 Jun</h3>
                        <h4 class="groups">Grup C</h4>
                        <ul>
                            <li>Match 1 : <span class="groups">18.00</span></li>
                            <li>Match 2 : <span class="groups">18.45</span></li>
                            <li>Match 3 : <span class="groups">19.30</span></li>
                        </ul>
                        <h4 class="groups">Grup D</h4>
                        <ul>
                            <li>Match 1 : <span class="groups">20.15</span></li>
                            <li>Match 2 : <span class="groups">21.00</span></li>
                            <li>Match 3 : <span class="groups">21.45</span></li>
                        </ul>
                    </div>
                </div>
                <div class="qualifier-map-wraper">
                    <h6>Map : Sanhok - Erangel - Sanhok</h6>
                </div>
            </div>
            
            <table id="grandfinal" data-tab-content class="table-responsive-xl active-tab">
                <tr>
                    <td colspan="12">
                        <h3>00 Jun</h3>
                    </td>
                </tr>
                <tr>
                    <div>
                        <div>
                            <td>
                                <div class="col-sm-md m-2">
                                    <h4 class="groups">18.00</h4>
                                    <div class="card" style="width: 12rem;">
                                        <img src="./img/erangel.jpg" class="card-img p-0" alt="">
                                        <div class="overlay">
                                            <img src="./img/LOGOTIM.png" alt="">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-light font-weight-bolder">Erangel</h5>
                                            <p class="card-text text-dark font-weight-bolder">TPP</p>
                                            <p class="card-text text-dark font-weight-bolder mt-n4">Match 1</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-md m-2">
                                    <h4 class="groups">18.45</h4>
                                    <div class="card" style="width: 12rem;">
                                        <img src="./img/erangel.jpg" class="card-img-top p-0" alt="">
                                        <div class="overlay">
                                            <img src="./img/LOGOTIM.png" alt="">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-light font-weight-bolder">Erangel</h5>
                                            <p class="card-text text-dark font-weight-bolder">TPP</p>
                                            <p class="card-text text-dark font-weight-bolder mt-n4">Match 2</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-sm-md m-2">
                                    <h4 class="groups">19.30</h4>
                                    <div class="card" style="width: 12rem;">
                                        <img src="./img/erangel.jpg" class="card-img-top p-0" alt="">
                                        <div class="overlay">
                                            <img src="./img/LOGOTIM.png" alt="">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-light font-weight-bolder">Erangel</h5>
                                            <p class="card-text text-dark font-weight-bolder">TPP</p>
                                            <p class="card-text text-dark font-weight-bolder mt-n4">Match 3</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </div>
                        <td>
                            <div class="col-sm-md m-2">
                                <h4 class="groups">20.15</h4>
                                <div class="card" style="width: 12rem;">
                                    <img src="./img/miramar.jpg" class="card-img-top p-0" alt="">
                                    <div class="overlay">
                                        <img src="./img/LOGOTIM.png" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title text-light font-weight-bolder">Miramar</h5>
                                        <p class="card-text text-dark font-weight-bolder">TPP</p>
                                        <p class="card-text text-dark font-weight-bolder mt-n4">Match 4</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-md m-2">
                                <h4 class="groups">21.00</h4>
                                <div class="card" style="width: 12rem;">
                                    <img src="./img/miramar.jpg" class="card-img-top p-0" alt="">
                                    <div class="overlay">
                                        <img src="./img/LOGOTIM.png" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title text-light font-weight-bolder">Miramar</h5>
                                        <p class="card-text text-dark font-weight-bold  er">TPP</p>
                                        <p class="card-text text-dark font-weight-bolder mt-n4">Match 5</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-md m-2">
                                <h4 class="groups">21.45</h4>
                                <div class="card" style="width: 12rem;">
                                    <img src="./img/miramar.jpg" class="card-img-top p-0" alt="">
                                    <div class="overlay">
                                        <img src="./img/LOGOTIM.png" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title text-light font-weight-bolder">Miramar</h5>
                                        <p class="card-text text-dark font-weight-bolder">TPP</p>
                                        <p class="card-text text-dark font-weight-bolder mt-n4">Match 6</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    <br>

    <!-- ===================== 
        Tournament Information
        ====================== -->
    
    <div class="info">
        <div class="specialFont-wraper">
            <h4 class="specialFont">Informasi Turnamen</h4>
        </div>
        <!-- Nav tabs -->
        <div class="button2-wraper">
            <button class="qualifier qualifier-active" data-tab-target2="#home">Tim</button>
            <button class="qualifier" data-tab-target2="#menu1">Rangking</button>
            <button class="qualifier" data-tab-target2="#menu2">Kill</button>
            <button class="qualifier" data-tab-target2="#menu3">Peraturan</button>
        </div>

        <!-- Tab panes -->
        <div>
            <div>
                <div id="home" data-tab-content2 class="active-tab"><br>
                    <div class="team-registered">
                        <h4>Tim : <%= participant.length%> </h4>
            <h4>Slot Tersedia : 64</h4>
        </div>
        <div class="home-wraper">
            <% if(participant.length === 0){%>
            <div class="no-participant">
                <h3>Belum Tersedia Saat Ini</h3>
            </div>
            <%}else{%>
            <% for(let i = 0; i < participant.length; i++ ) { %>
            <div class="team-list">
                <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                <div class="team-name" style="margin-left: -15px;"><%= participant[i].teamName %>
                    <span class="team-abbr">(<%= participant[i].singkatanTeam %>)</span>
                </div>
            </div>
            <div class="list">
                <ul>
                    <li> <%= participant[i].playerName %> <span>(<%= participant[i].idPlayer %>)</span></li>
                    <li> <%= participant[i].playerName2 %> <span>(<%= participant[i].idPlayer2 %>)</span></li>
                    <li> <%= participant[i].playerName3 %> <span>(<%= participant[i].idPlayer3 %>)</span></li>
                    <li> <%= participant[i].playerName4 %> <span>(<%= participant[i].idPlayer4 %>)</span></li>
                </ul>
            </div>
            <% } %>
            <% } %>
        </div>

        </div>
        <div id="menu1" data-tab-content2><br>
            <% if(participant.length === 0){%>
            <div class="no-participant">
                <h3>Belum Tersedia Saat Ini</h3>
            </div>
            <%}else{%>
            <button class="collapsible">GRUP A</button>
            <div class="content">
                <table class="content" id="standing-table-1">
                    <tbody class="p-sm-0 m-sm-0">
                        <tr>
                            <td>#</td>
                            <td class="align-self-center">Nama Tim</td>
                            <td >Total PTS</td>
                            <td>Placement PTS</td>
                            <td>Kill PTS</td>
                        </tr>
            <% for(let i = 0; i < participant.length; i++ ) { %>
                <% if(participant[i].inGroup === 'A'){ %> 
                        <tr>
                            <td class="pos-1"></td>
                            <td class="team-rank">
                                <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                                <div class="team-name"><%= participant[i].teamName %></div>
                            </td>
                            <td class="tot-pts"><%= participant[i].teamPlcPoint + participant[i].teamKillPoint %></td>
                            <td><%= participant[i].teamPlcPoint %></td>
                            <td><%= participant[i].teamKillPoint %></td>
                        </tr>
                <% } %>
            <% } %>
                </table>
            </div>
            <button class="collapsible">GRUP B</button>
            <div class="content">
                <table class="content" id="standing-table-2">
                    <tbody class="p-sm-0 m-sm-0">
                        <tr>
                            <td>#</td>
                            <td class="align-self-center">Nama Tim</td>
                            <td>Total PTS</td>
                            <td>Placement PTS</td>
                            <td>Kill PTS</td>
                        </tr>
                        <% for(let i = 0; i < participant.length; i++ ) { %>
                <% if(participant[i].inGroup === 'B'){ %> 
                        <tr>
                            <td class="pos-2"></td>
                            <td class="team-rank">
                                <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                                <div class="team-name"><%= participant[i].teamName %></div>
                            </td>
                            <td class="tot-pts"><%= participant[i].teamPlcPoint + participant[i].teamKillPoint %></td>
                            <td><%= participant[i].teamPlcPoint %></td>
                            <td><%= participant[i].teamKillPoint %></td>
                        </tr>
                        <% } %>
                        <% } %>
                </table>
            </div>
            <button class="collapsible">GRUP C</button>
            <div class="content">
                <table class="content" id="standing-table-3">
                    <tbody class="p-sm-0 m-sm-0">
                        <tr>
                            <td>#</td>
                            <td class="align-self-center">Nama Tim</td>
                            <td>Total PTS</td>
                            <td>Placement PTS</td>
                            <td>Kill PTS</td>
                        </tr>
                        <% for(let i = 0; i < participant.length; i++ ) { %>
                <% if(participant[i].inGroup === 'C'){ %> 

                        <tr>
                            <td class="pos-3"></td>
                            <td class="team-rank">
                                <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                                <div class="team-name"><%= participant[i].teamName %></div>
                            </td>
                            <td class="tot-pts"><%= participant[i].teamPlcPoint + participant[i].teamKillPoint %></td>
                            <td><%= participant[i].teamPlcPoint %></td>
                            <td><%= participant[i].teamKillPoint %></td>
                        </tr>
                        <% } %>
                        <% } %>
                </table>
            </div>
            <button class="collapsible">GRUP D</button>
            <div class="content">
                <table class="content" id="standing-table-4">
                    <tbody class="p-sm-0 m-sm-0">
                        <tr>
                            <td>#</td>
                            <td class="align-self-center">Nama Tim</td>
                            <td>Total PTS</td>
                            <td>Placement PTS</td>
                            <td>Kill PTS</td>
                        </tr>
                        <% for(let i = 0; i < participant.length; i++ ) { %>
                <% if(participant[i].inGroup === 'D'){ %> 

                        <tr>
                            <td class="pos-4"></td>
                            <td class="team-rank">
                                <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                                <div class="team-name"><%= participant[i].teamName %></div>
                            </td>
                            <td class="tot-pts"><%= participant[i].teamPlcPoint + participant[i].teamKillPoint %></td>
                            <td><%= participant[i].teamPlcPoint %></td>
                            <td><%= participant[i].teamKillPoint %></td>
                        </tr>
                        <% } %>
                        <% } %>
                </table>
            </div>
            <button class="collapsible">GRAND FINAL</button>
            <div class="content">
                <table class="content" id="standing-table-5">
                    <tbody class="p-sm-0 m-sm-0">
                        <tr>
                            <td>#</td>
                            <td class="align-self-center">Nama Tim</td>
                            <td>Total PTS</td>
                            <td>Placement PTS</td>
                            <td>Kill PTS</td>
                        </tr>
                        <% for(let i = 0; i < participant.length; i++ ) { %>
                <% if(participant[i].qualifyToGrandFinal){ %> 

                        <tr>
                            <td class="pos-5"></td>
                            <td class="team-rank">
                                <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                                <div class="team-name"><%= participant[i].teamName %></div>
                            </td>
                            <td class="tot-pts"><%= participant[i].GFteamPlcPoint + participant[i].GFteamKillPoint %></td>
                            <td><%= participant[i].GFteamPlcPoint %></td>
                            <td><%= participant[i].GFteamKillPoint %></td>
                        </tr>
                        <% } %>
                        <% } %>
                </table>
            </div>
        </div>
        <% } %>
        <div id="menu2" data-tab-content2><br>
            <table id="standing-table-6">
                    <tr>
                        <td>#</td>
                        <td>Nama Pemain</td>
                        <td>Total Kill</td>
                    </tr>
                    <% for(let i = 0; i < participant.length; i++){ %> 
                    <tr>
                        <td class="pos-6"></td>
                        <td class="team-rank">
                            <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                            <div class="team-name" style="margin-left: 10px;"><%= participant[i].playerName %>
                        </td>
                        <td class="tot-pts"><%=participant[i].playerKill%></td>
                    </tr>
                    <tr>
                        <td class="pos-6"></td>
                        <td class="team-rank">
                            <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                            <div class="team-name" style="margin-left: 10px;"><%= participant[i].playerName2 %>
                        </td>
                        <td class="tot-pts"><%=participant[i].player2Kill%></td>
                    </tr>
                    <tr>
                        <td class="pos-6"></td>
                        <td class="team-rank">
                            <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                            <div class="team-name" style="margin-left: 10px;"><%= participant[i].playerName3 %>
                        </td>
                        <td class="tot-pts"><%=participant[i].player3Kill%></td>
                    </tr>
                    <tr>
                        <td class="pos-6"></td>
                        <td class="team-rank">
                            <div class="logo-team"><img src="<%= participant[i].logoImagePath %>" alt=""></div>
                            <div class="team-name" style="margin-left: 10px;"><%= participant[i].playerName4 %>
                        </td>
                        <td class="tot-pts"><%=participant[i].player4Kill%></td>
                    </tr>
                <% } %> 
            </table>
        </div>
        <div id="menu3" data-tab-content2><br>
            <p>
                Berikut merupakan peraturan game yang digunakan dalam PUBG Mobile Terminator Weekly Challenge
                dengan sistem turnamen
                online. Dengan diinformasikannya peraturan ini maka seluruh peserta yang terlibat dalam turnamen
                ini wajib untuk
                mematuhi dan menjalankan segala peraturan yang ada.
            </p>
            <ol>
                <li>
                    <h5>Peraturan Peserta</h5>
                </li>
                <ul>
                    <li class="mb-2 ml-3">Ketentuan Peserta</li>
                    <ul>
                        <li class="ml-5">Peserta wajib memiliki akun atau id PUBG Mobile sendiri.</li>
                        <li class="ml-5">ID-Nickname yang terdaftar tidak dapat diwakilkan oleh peserta
                            lain.</li>
                        <li class="ml-5">Masing-masing peserta hanya dapat terdaftar dalam satu tim dan
                            tidak dapat
                            bermain dalam 2 tim yang
                            berbeda</li>
                        <li class="ml-5">Peserta yang dapat bermain pada hari H hanyalah peserta yang
                            telah
                            terdaftar
                            dalam registrasi tim
                        </li>
                    </ul>
                    <li class="mb-2 ml-3">Peraturan Umum</li>
                    <ul>
                        <li class="ml-5">Media komunikasi yang digunakan yakni Whatsapp.</li>
                        <li class="ml-5">Perhitungan poin diatur melalui Scoring Sheet yang digunakan
                            oleh panitia.</li>
                        <li class="ml-5">Seluruh informasi yang diberikan oleh panitia merupakan
                            tanggung jawab masing-masing perwakilan tim.</li>
                        <li class="ml-5">Seluruh tim wajib bermain dengan lengkap (minimal 3 anggota),
                            jika tidak maka akan dianggap gagal atau WO
                        </li>
                        <li class="ml-5">Semua peserta wajib menjunjung nilai Sportif dan Fairplay.</li>
                    </ul>
                </ul>
                <li>
                    <h5>Sistem Turnamen</h5>
                </li>
                <ul>
                    <li class="mb-2 ml-3">Sistem yang digunakan yakni sistem online</li>
                    <li class="mb-2 ml-3">Turnamen PUBG Mobile menggunakan sistem scoring sheet dengan
                        dihitung total poin.</li>
                </ul>
                <li>
                    <h5>Pengaturan Match</h5>
                </li>
                <ul>
                    <li class="mb-2 ml-3">Custom lobby atau room akan dibuat oleh panitia penyelenggara
                    </li>
                    <li class="mb-2 ml-3">Peserta akan bermain 6 ronde</li>
                    <li class="mb-2 ml-3">Map yang digunakan : Erangel dan Miramar</li>
                    <li class="mb-2 ml-3">Mode yang digunakan : Third Person Perspective (TPP)</li>
                    <li class="mb-2 ml-3">Pemenang match ditentukan dari total poin tertinggi. Total poin
                        terdiri dari Place Point dan Kill Point</li>
                    <li class="mb-2 ml-3">Perhitungan poin merujuk pada peraturan internasional PUBG
                        Mobile, berikut merupakan distribusi poin :</li>
                </ul>

                <table class="table-sm table-striped table-bordered table-hover table-dark">

                    <tr>
                        <th colspan="2" class="text-center">PERHITUNGAN POIN</th>
                    </tr>
                    <tr>
                        <td>Placement</td>
                        <td>Point</td>
                    </tr>
                    <tr>
                        <td>Kill Point</td>
                        <td>1 per kill</td>
                    </tr>
                    <tr>
                        <td>#1</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>#2</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>#3</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>#4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>#5</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>#6</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>#7</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>#8</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>#9-16</td>
                        <td>0</td>
                    </tr>
                </table>

                <li>
                    <h5>Peraturan Turnamen</h5>
                </li>
                <ul>
                    <li class="mb-2 ml-3">Peraturan Teknis</li>
                    <ul>
                        <li class="ml-5">Seluruh peserta yang melakukan tindakan ilegal (bug, cheat, hack,
                            dll) dengan didukung bukti kuat maka akan didiskualifikasi.</li>
                        <li class="ml-5">Teaming atau kerjasama antar squad sangat dilarang, apabila ada squad
                            yang kedapatan melakukan teaming, maka kedua tim
                            tersebut akan didiskualifikasi.</li>
                        <li class="ml-5">Apabila pihak yang merasakan dicurangi tidak dapat memberikan bukti
                            kuat maka pemenang match tidak dapat diubah.</li>
                        <li class="ml-5">Seluruh peserta yang menyebarluaskan link Whatsapp tanpa instruksi
                            panitia maka akan didiskualifikasi pada turnamen tersebut.</li>
                        <li class="ml-5">Panitia tidak bertanggung jawab atas seluruh gangguan koneksi
                            internet, crash device, device error, dan sebagainya, yang dialami oleh peserta.
                        </li>
                    </ul>
                    <li class="mb-2 ml-3">Peraturan Saat Pertandingan</li>
                    <ul>
                        <li class="ml-5">Seluruh peserta wajib standby online dalam game 20 menit sebelum
                            waktu match pertama dimulai.</li>
                        <li class="ml-5">Segala bentuk kelalaian yang disebabkan oleh peserta adalah diluar
                            tanggung jawab panitia.</li>
                    </ul>
                    <li class="mb-2 ml-3">Peraturan Tied Point</li>
                    <ul>
                        <p class="ml-3">Apabila terjadi jumlah poin yang sama pada keseluruhan match, metode
                            keputusan yaitu :</p class="ml-3">
                        <ul>
                            <li class="ml-5">Tim dengan total kill terbanyak</li>
                            <li class="ml-5">Tim dengan total poin tertinggi pada ronde final</li>
                            <li class="ml-5">Tim dengan total rank tertinggi pada ronde final</li>
                        </ul>
                    </ul>
                    <li class="mb-2 ml-3">Peraturan Rematch</li>
                    <ul>
                        <li class="ml-5">Rematch hanya akan dilakukan apabila seluruh peserta mengalami
                            gangguan koneksi sehingga pertandingan tidak dapat dilanjutkan; atau</li>
                        <li class="ml-5">Rematch akan dilakukan apabila terjadi Force Majeure</li>
                    </ul>
                </ul>
                <li>
                    <h5>Prosedur Pertandingan</h5>
                </li>
                <ul>
                    <li class="mb-2 ml-3">Sebelum Match</li>
                    <ul>
                        <li class="ml-5">Custom Lobby akan dibuat oleh panitia</li>
                        <li class="ml-5">Peserta wajib standby di lobby 20 menit sebelum mulai</li>
                    </ul>
                    <li class="mb-2 ml-3">Saat Match</li>
                    <ul>
                        <li class="ml-5">Apabila masih terdapat peserta yang melakukan condition checking saat
                            lobby akan dimulai maka panitia akan tetap memulai match</li>
                        <li class="ml-5">Jika terdapat peserta yang disconnect karena kesalahan pribadi maka
                            peserta tersebut dizinkan untuk reconnect namun match tetap berjalan.</li>
                    </ul>
                </ul>
                <li>
                    <h5>Penalti dan Walk Out</h5>
                </li>
                <ul>
                    <li class="mb-2 ml-3">Peserta yang tidak dapat dihubungi melalui Whatsapp hingga H-2 maka
                        akan digantikan dengan tim lainnya.</li>
                    <li class="mb-2 ml-3">Peserta yang tidak hadir saat match hingga batas waktu tertentu maka
                        akan dinyatakan WO</li>
                    <li class="mb-2 ml-3">Peserta yang melanggar poin-poin peraturan di atas akan
                        diskualifikasi.</li>
                </ul>
                <li>
                    <h5>Hak Penyelenggara</h5>
                </li>
                <ul>
                    <li class="mb-2 ml-3">Panitia berhak mengganti dan mengubah peraturan yang ada dengan
                        dasar yang kuat untuk kelancaran turnamen.</li>
                    <li class="mb-2 ml-3">Panita berhak memberikan instruksi kepada para peserta dengan dasar
                        untuk kelancaran turnamen</li>
                    <li class="mb-2 ml-3">Seluruh keputusan panitia merupakan hal yang mutlak dan tidak dapat
                        diganggu gugat</li>
                    <li class="mb-2 ml-3">Seluruh peserta wajib mematuhi peraturan yang ada demi kelancaran
                        turnamen.</li>
                </ul>
            </ol>
        </div>
        </div>
        </div>
        </div>
        <br>

        <div>
            <a class="backtotop" id="back-to-top" href="#atas">TOP</a>
        </div>
        <!-- ==============
        Footer
    ================== -->
        <footer>
            <div class="footer-content">
                <div class="content-1">
                    <h4 id="contact">Hubungi Kami</h4>
                    <h5>pmtc.official@gmail.com</h5>
                    <h5>+6282237813869</h5>
                </div>
                <div class="content-2">
                    <h4>Diselenggarakan Oleh</h4>
                    <div class="content-2-wraper">
                        <img src="./img/profile.jpg" alt="" class="profile">
                        <!-- <h5>r3tr0</h5> -->
                    </div>
                </div>
                <div class="icon-social-wraper">
                    <a href="https://www.facebook.com/pubgmtc.official/?modal=admin_todo_tour" target="_blank"><img
                            class="icon-social" src="./img/iconmonstr-facebook-4-72.png" alt=""></a>
                    <a href="https://www.instagram.com/pmtc.official/" target="_blank"><img class="icon-social"
                            src="./img/iconmonstr-instagram-14-72.png" alt=""></a>
                </div>
            </div>
        </footer>
        </div>
        </div>
        <script defer type="text/javascript" src="./js/script.js"></script>
</body>


</html>